Week 11 - Example
<app-child-component [college]="college_name" [city]="city"></app-child-component>
<h2>Pipes Example</h2>
<p>{{ 1234567890 | number }}</p>
<p>{{ 'Pritesh' | greet }}</p>
<p>{{ 'Avery' | fullname:"Mr." }}</p>
<p>{{ 5 | pow:3 }}</p>

<h1>*ngif and *ngswitch</h1>
<div *ngIf="isDisplay; then trueTemplate else falseTemplate">
    This is visable
</div>

<ng-template #trueTemplate>
    <h2>I will be visable when TRUE</h2>
</ng-template>

<ng-template #falseTemplate>
    <h2>I will be visable when FALSE</h2>
</ng-template>

<h1 [hidden]="false">
    ngStyle
</h1>

<div [ngStyle]="{'color':'red'}">
    I will be RED
</div>

<div [ngSwitch]="city">
    <h3 *ngSwitchCase="'Toronto'">{{ city }} - Capital City of Ontario</h3>
</div>

<p appCustom>I am custom directive content</p>